.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.flex-jc-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-jc-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-ai-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-ai-start {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.flex-jc-everly {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.flex-fd-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.container {
    width: 94%;
    height: 100%;
    margin: 0 auto;
}

@media (min-width: 321px) {
    .container {
        width: 87%;
        height: 100%;
        position: relative;
    }
}

.header {
    background: url('../images/bg-header-mobile.png') no-repeat;
    background-size: 320px 300px;
    height: 660px;
}

@media (min-width: 321px) {
    .header {
        background: url('../images/bg-header.png') no-repeat center top / cover;
        height: 960px;
    }
}

.logo {
    width: 95px;
    height: 25px;
    background: url("../images/logo_white.svg") no-repeat center top / cover;
}

@media (min-width: 321px) {
    .logo {
        width: 219px;
        height: 58px;
        background-image: url("../images/logo_white.svg");
    }
}

.logo-active, .logo-dark {
    background-image: url("../images/logo_dark.svg");
}

.header-menu {
    width: 94%;
    height: 100%;
    margin: 0 auto;
}

@media (min-width: 321px) {
    .header-menu {
        width: 87%;
    }
}

.header-menu-container {
    position: fixed;
    top: 0;
    height: 59px;
    width: 100%;
    z-index: 2;
}

@media (min-width: 321px) {
    .header-menu-container {
        height: 110px;
    }
}

.header-menu-container-white, .header-menu-container-active {
    background-color: #fff;
}

.header-menu-container-white {
    transition: .3s background-color linear;
}

/*
                                                        PHONE
*/
.phone {
    display: block;
    color: #fff;
    font-family: Museo Sans;
    font-size: 24px;
    line-height: 29px;
    color: #303030;
    font-weight: 600;
}

@media (min-width: 321px) {
    .phone {
        display: block;
        color: #fff;
        font-family: Museo Sans;
        font-size: 24px;
        line-height: 29px;
        margin-right: 20px;
    }
}

.phone-active, .phone-dark {
    color: #000;
}

.contacts {
    display: none;
}

@media (min-width: 321px) {
    .contacts {
        display: flex;
        width: 410px;
    }
}

.burger {
    width: 35px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

@media (min-width: 321px) {
    .burger {
        width: 50px;
        height: 41px;
        position: relative;
        margin-left: 30px;
    }
}

.burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: .2s all linear;
}

.burger-line-first {
    top: 12px;
}

.burger-line-second {
    top: 22px;
}

.burger-active .burger-line-first {
    transform: translateY(5px) rotate(45deg);
    background-color: #000;
}

@media (min-width: 321px) {
    .burger-active .burger-line-first {
        transform: translateY(6px) rotate(45deg);
    }
}

.burger-active .burger-line-second {
    transform: translateY(-5px) rotate(-45deg);
    background-color: #000;
}

.burger-dark .burger-line-first {
    background-color: #000;
}

.burger-dark .burger-line-second {
    background-color: #000;
}

.header-body {
    width: 100%;
    height: 640px;
    box-sizing: border-box;
    padding-top: 115px;
}

@media (min-width: 321px) {
    .header-body {
        width: 70%;
        height: 960px;
        box-sizing: border-box;
    }
}

.header-title-wrap {
    order: 1
}

.header-title {
    font-family: Bebas Neue;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
}

@media (min-width: 321px) {
    .header-title {
        font-size: 90px;
        line-height: 90px;
    }
}

.header-subtitle {
    font-family: Museo Sans;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-top: 12px;
}

@media (min-width: 321px) {
    .header-subtitle {
        font-size: 50px;
        line-height: 60px;
        margin-top: 10px;
    }
}

.header-subtitle span {
    color: #FF3754;
}

.header-button {
    width: 300px;
    height: 68px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    background: #FF3754;
    border: 1px solid #FF3754;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    font-family: Museo Sans;
    order: 2;
    margin-top: -6px;
}

@media (min-width: 321px) {
    .header-button {
        width: 412px;
        font-size: 19px;
        line-height: 23px;
        box-sizing: border-box;
        order: 3;
    }
}

.medals-block {
    width: 100%;
    font-family: Museo Sans;
    font-size: 24px;
    line-height: 29px;
    order: 3;
}

@media (min-width: 321px) {
    .medals-block {
        width: 480px;
        font-family: Museo Sans;
        font-size: 24px;
        line-height: 29px;
        order: 2;
    }
}

.image-header-big {
    width: 47px;
    height: 47px;
}

.image-header-medal {
    width: 27px;
    height: 27px;
}

@media (min-width: 321px) {
    .image-header-medal {
        width: 40px;
        height: 40px;
    }
}

@media (min-width: 321px) {
    .image-header-big {
        width: 70px;
        height: 70px;
    }
}

.image-header-small {
    width: 14px;
    height: 14px;
}

@media (min-width: 321px) {
    .image-header-small {
        width: 21px;
        height: 21px;
    }
}

.header-text {
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #303030;
    font-weight: 600;
}

@media (min-width: 321px) {
    .header-text {
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}

.bg-red {
    width: 174px;
    height: 34px;
    background: #FF3754;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-top: 4px;
}

@media (min-width: 321px) {
    .bg-red {
        width: 300px;
        height: 50px;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        padding-top: 2px;
    }
}

.medal {
    width: 47px;
    height: 47px;
    text-align: center;
    padding-top: 8px;
}

@media (min-width: 321px) {
    .medal {
        width: 70px;
        height: 70px;
        text-align: center;
        padding-top: 14px;
    }
}

.cups {
    margin-right: 20px;
}

@media (min-width: 321px) {
    .cups {
        margin-right: 52px;
    }
}

.drop-down {
    display: none;
    position: fixed;
    top: 59px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.drop-down-phone-image img {
    width: 22px;
    height: 22px;
    margin-top: 4px;
}

.drop-down .phone-block {
    margin-top: 21px;
    width: 225px;
}

@media (min-width: 321px) {
    .drop-down {
        top: 110px;
        -webkit-justify-content: center;
               -webkit-box-pack: center;
                  -ms-flex-pack: center;
        justify-content: center;
    }

    .drop-down .phone-block {
        display: none;
    }
}

.drop-down ul {
    padding: 0;
}

.drop-down li {
    color: #303030;
    font-family: Museo Sans;
    list-style-type: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.drop-down a {
    text-decoration: none;
}

@media (min-width: 321px) {
    .drop-down li {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 37px;
    }
}

.drop-down .social-block {
    width: 98px;
    margin-top: 43px;
}

.drop-down .social-block img {
    width: 34px;
    height: 34px;
}

@media (min-width: 321px) {
    .drop-down .social-block {
        display: none;
    }
}

.drop-down-active {
    display: flex;
}

.second-block {
    width: 100%;
}

@media (min-width: 321px) {
    .second-block {
        height: 1025px;
    }
}

.block-title {
    font-family: Bebas Neue;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FF3754;
    width: 100%;
    margin: 0;
    margin-bottom: 34px;
}

@media (min-width: 321px) {
    .block-title {
        font-size: 70px;
        line-height: 70px;
        margin-top: 88px;
    }
}

.second-block-content {
    height: 100%;
}

.wrapper-slider {
    position: relative;
    height: 100%;
    width: 100%;
    display: block
}

@media (min-width: 321px) {
    .wrapper-slider {
        height: 630px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slider-control-desktop .swiper-pagination {
    color: #000;
    z-index: 1!important;
    margin-bottom: 85px;
}

.slider-control-mobile .swiper-pagination {
    color: #000;
    z-index: 1!important;
    margin-bottom: 60px;
}

.swiper-button-next {
    position: absolute;
    top: 93.5% !important;
    right: 20% !important;
    background: url('../images/red-arrow.svg') no-repeat center top;
    background-size: 30px 25px;
    margin-top: 0px;
    z-index: 1!important;
    outline: 0 !important;
}

@media (min-width: 321px) {
    .swiper-button-next {
        top: 89.5% !important;
        right: 45% !important;
        transform: translateY(10%);
    }
}

.swiper-button-prev {
    background: url('../images/red-arrow.svg') no-repeat center top;
    background-size: 30px 25px;
    transform: translateY(-38%) rotate(180deg);
    position: absolute;
    top: 93.5% !important;
    left: 20% !important;
    margin-top: 0px;
    z-index: 1!important;
    outline: 0 !important;
}

@media (min-width: 321px) {
    .swiper-button-prev {
        transform: translateY(-32%) rotate(180deg);
        top: 89.5% !important;
        left: 45% !important;
    }
}


.swiper-button-disabled {
    opacity: .2 !important;
}

.swiper-pagination-current, .swiper-pagination-total, .pagination-text {
    font-family: Museo Sans Cyrl;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #303030;
    z-index: 1 !important;
}

.slider-control-mobile {
    display: block;
    width: 100%;
    height: 100%;
}

.slider-control-desktop {
    display: none;
}

@media (min-width: 321px) {
    .slider-control-mobile {
        display: none;
    }
    .slider-control-desktop {
        display: block;
    }
}

.slider-left-figure-big {
    height: 630px;
    width: 30px;
    background: #FF3754;
    background: url('../images/rectangle.png');
}

.slider-left-figure-small-low {
    width: 52px;
    height: 30px;
    background: url('../images/rectangle-small.png');
    position: absolute;
    top: 0;
    left: 0;
}

.slider-left-figure-small-down {
    width: 52px;
    height: 30px;
    background: url('../images/rectangle-small.png');
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider-right-red-block, .slider-left-red-block {
    display: none;
}

@media (min-width: 321px) {
    .slider-right-red-block, .slider-left-red-block {
        height: 630px;
        width: 52px;
        position: relative;
        display: block;
    }
}

.slider-right-figure-big {
    height: 630px;
    width: 30px;
    position: absolute;
    right: 0;
    background: #FF3754;
    background: url('../images/rectangle.png');
}

.slider-right-figure-small-low {
    width: 52px;
    height: 30px;
    background: url('../images/rectangle-small.png');
    position: absolute;
    top: 0;
    right: 0;
}

.slider-right-figure-small-down {
    width: 52px;
    height: 30px;
    background: url('../images/rectangle-small.png');
    position: absolute;
    bottom: 0;
    right: 0;
}

.slide-content-wrapper {
    width: 100%;
    height: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (min-width: 321px) {
    .slide-content-wrapper {
        width: 100%;
        height: 630px;
        padding: 0 96px;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.first-slide-image {
    height: 128px;
    width: 128px;
    background: url('../images/potatoes.png') no-repeat center;
    background-size: 128px 128px;
    order: 1;
    margin-bottom: 27px;
}

@media (min-width: 321px) {
    .first-slide-image {
        height: 550px;
        width: 550px;
        background: url('../images/potatoes.png') no-repeat;
        order: 2;
    }
}

.slide-content {
    width: 100%;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    order: 2;
    margin-bottom: 120px;
}

@media (min-width: 321px) {
    .slide-content {
        width: 50%;
        float: left;
        margin-top: 20px;
        margin-bottom: 0;

        -webkit-box-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        order: 1;
    }
}

.slide-title {
    font-family: Bebas Neue;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FF3754;
    margin-bottom: 4px;
}

@media (min-width: 321px) {
    .slide-title {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 4px;
    }
}

.slide-subtitle {
    font-family: Bebas Neue;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #888888;
    margin-bottom: 23px;
}

@media (min-width: 321px) {
    .slide-subtitle {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 18px;
    }
}

.slide-caption {
    font-family: Museo Sans Cyrl;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #303030;
}

.block-list {
    height: fit-content;
    color: #303030;
    text-align: start;
    margin-bottom: 35px;
}

@media (min-width: 321px) {
    .block-list {
        margin-bottom: 0;
    }
}

.block-list ul {
    list-style-image: url('../images/image-li.svg'); 
    padding: 0 0 0 20px;
    margin: 40px 0 0 0;
}

.block-list li {
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    line-height: 160%;
    color: #303030;
    padding-left: 11px;
    margin-bottom: 10px;
}

@media (min-width: 321px) {
    .block-list li {
        padding-left: 30px;
        margin: 0;
    }
}

.slide-button-mobile {
    height: 40px;
    width: 155px;
    background: #FFFFFF;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Museo Sans Cyrl;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    color: #888888;
    margin-top: 43px;
    cursor: pointer;
}

@media (min-width: 321px) {
    .slide-button-mobile {
        display: none;
    }
}

.slide-content .paragraph {
    font-family: Museo Sans Cyrl;
    font-size: 18px;
    line-height: 160%;
    color: #303030;
    width: 100%;
    text-align: start;
    align-self: start;
    margin-top: 35px;
}

@media (min-width: 321px) {
    .slide-content .paragraph {
        width: 50%;
        margin-top: 25px;
    }
}

.slide-content .paragraph .title {
    color: #000000;
    font-weight: 600;
}

.third-block {
    background: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);
    min-height: 1212px;
    width: 100%;
    padding-top: 42px;
}

.select-data-content {
    width: 270px;
    min-height: 40px;
    flex-wrap: wrap;
}

.select-button {
    width: 60px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px 10px 0;

    font-family: Museo Sans Cyrl;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.155em;
    text-transform: uppercase;
    cursor: pointer;
}

.select-button:hover {
    background: #FF3754;
    border: 1px solid #FF3754;
}

.select-button:nth-child(4n) {
    margin-right: 0;
}

@media (min-width: 321px) {
    .select-data-content {
        display: none;
    }
}

@media (min-width: 321px) {
    .third-block {
        padding-top: 0;
    }
}

.wrapper-content {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

@media (min-width: 321px) {
    .wrapper-content {
        height: 445px;
    }
}

.content-block, .content-block-second {
    flex: 0 1 auto;
    width: 300px;
    margin-top: 21px;
}

@media (min-width: 321px) {
    .content-block, .content-block-second {
        flex: 0 1 auto;
        width: 412px;
        height: 400px;
        margin: 60px auto auto auto;
    }
}

.content-block .picture {
    height: 130px;
    background: url('../images/amazon-img.png') no-repeat center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.content-block-second .picture {
    height: 130px;
    background: url('../images/facebook-img.png') no-repeat center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

@media (min-width: 321px) {
    .content-block .picture, .content-block-second .picture {
        height: 240px;
    }
}

.block-text {
    margin-top: 18px;
}

@media (min-width: 321px) {
    .block-text {
        margin-top: 26px;
    }
}

.block-text .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #303030;
}

.block-text p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 160%;
    color: #303030;
}

@media (min-width: 321px) {
    .block-text p {
        font-size: 18px;
    }
}

.copyright {
    font-size: 18px;
    line-height: 27px;
    color: #303030;
}

.footer-icon {
    width: 42px;
    height: 42px;
    background: url('../images/footer-icon.svg') no-repeat center;
    margin-bottom: 4px;
}

footer {
    height: 68px;
}